@using P3TournamentPlanner.Shared
@using P3TournamentPlanner.Client.Partials;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication;
@attribute [Authorize]
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager NavigationManager
@page "/admin/ligaer/{leagueID:int}/division/{divisionID:int}"

@if (division.teams == null || division == null)
{
    <p>Loading ...</p>
}
else
{
<div>
    <h2>@division.divisionID. divsion</h2>
    <div class="hold" style=" width:100%; ">
        <table>
            <thead>
                <tr style=" width: 100%; ">
                    <th>Hold</th>
                    <th>Kontakt person</th>
                    <th>Email</th>
                    <th>Antal spillere</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Team team in division.teams)
                {
                    <tr @onclick="() => ShowTeam(team)">
                        <td>@team.teamName</td>
                        <td> navn på kontakt person</td>
                        <td>@team.manager.contactinfo.tlfNr</td>
                        <td>@team.divisionID</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="tilføjHold">
        <div class="bokse">
            <div class="box">
                <p>Tilføj nyt hold til divisionen</p>
                <form class="formBund">
                    <select @onchange="TeamToAdd">
                        <option>Vælg hold</option>
                        @foreach (Team team in teamsNotInDivision)
                        {
                            <option value="@team.teamName">@team.teamName</option>
                        }
                    </select>
                </form>
            </div>
        </div>
        <div class="wrapper">
            <button class="btn-primary" @onclick="GenerateMatches">Generer Kampe</button>
        </div>
    </div>
    <div class="table_menu">
        <button id="kampe-btn" @onclick='() => ChangeDisplay("kampe")'>Kampe</button>
        <button id="resultater-btn" @onclick='() => ChangeDisplay("")'>Resultater</button>
    </div>
    @if (display == "kampe")
    {
        <style>
            /*#kampe-btn {*/
            background-color: var(--penta-lilla)
            }
        </style>
        <MatchList ID="divisionID" leagueID="leagueID" search="division"></MatchList>
    }
    else
    {
        <style>
            #resultater-btn {
                background-color: var(--penta-lilla)
            }
        </style>
        <ResultList ID="divisionID" leagueID="leagueID" search="division" />
    }
    <div class="new-match-div">
        <div>
            <h3>Opret ny kamp</h3>
        </div>
        <div>
            <EditForm Model="match" OnValidSubmit="MatchPost">
                <div class="form-div">
                    <div class="form-item">
                        <label>Hold 1:</label>
                        <InputSelect @bind-Value="team1Name">
                            <option selected value="">Vælg første hold</option>
                            @foreach (Team team in division.teams)
                                {
                                <option value="@team.teamName">@team.teamName</option>
                                }
                        </InputSelect>
                    </div>

                    <div class="form-item">
                        <label>Hold 2:</label>
                        <InputSelect @bind-Value="team2Name">
                            <option value="">Vælg andet hold</option>
                            @foreach (Team team in division.teams)
                                {
                                <option value="@team.teamName">@team.teamName</option>
                                }
                        </InputSelect>
                    </div>

                    <div class="form-item">
                        <label>Tidpunkt: (dato : klokkeslæt)</label>
                        <InputText placeholder="01 / 01 - 2021 : 00:00" @bind-Value="match.startTime"></InputText>
                    </div>

                    <div class="form-item">
                        <label>Værtsklub:</label>
                        <InputSelect @bind-Value="@match.clubHostID">
                            <option value=0>Vælg værtsklub</option>
                            @foreach (Team team in division.teams)
                                {
                                <option value="@team.clubID">@team.club.name</option>
                                }
                        </InputSelect>
                    </div>

                    <div class="form-item">
                        <label>Map:</label>
                        <InputSelect @bind-Value="match.map">
                            <option value="">Vælg map</option>
                            <option value="Ancient">Ancient</option>
                            <option value="dust2">Dust 2</option>
                            <option value="Inferno">Inferno</option>
                            <option value="Mirage">Mirage</option>
                            <option value="Nuke">Nuke</option>
                            <option value="Overpass">Overpass</option>
                            <option value="Vertigo">Vertigo</option>
                        </InputSelect>
                    </div>

                    <div class="form-item wrapper">
                        <button class="btn-primary" type="submit">Opret</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>
}

@code{
    [Parameter]
    public int divisionID { get; set; }

    [Parameter]
    public int leagueID { get; set; }

    Division division = new Division();

    List<Match> matches = new List<Match>();

    List<Team> tempList = new List<Team>();

    List<Team> teamsNotInDivision = new List<Team>();

    Team teamToAdd = new Team();

    Match match = new Match();

    string display = "kampe";

    string team1Name = "";

    string team2Name = "";


    //Auth var
    bool isAuth = false;
    string roleRequirement = "Administrator";

    public void ChangeDisplay(string d)
    {
        display = d;
    }

    protected override async Task OnInitializedAsync()
    {
        try {
            isAuth = await Http.GetFromJsonAsync<bool>($"api/authentication?role={roleRequirement}");
        }
        catch(AccessTokenNotAvailableException exception) {
            //idfk... Redirect eller sådan noget xd
            Console.WriteLine("Exeption Hit!");
        }

        if(isAuth) {
            Console.WriteLine("lesgo!");
        } else {
            Console.WriteLine("Sadge");
        }

        HttpClient client = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");
        client.BaseAddress = new Uri("https://localhost:44341/");

        division = await client.GetFromJsonAsync<Division>($"api/Division/getdivision?divisionID={divisionID}&leagueID={leagueID}");

        division.teams = new List<Team>();

        Console.WriteLine("Get Send");
        tempList = await client.GetFromJsonAsync<List<Team>>($"api/TeamInformation?divisionID={divisionID}");
        Console.WriteLine("På den anden side");

        foreach (Team team in tempList)
        {
            if (team.leagueID == leagueID)
            {
                division.teams.Add(team);
            }
        }

        await GetTeamsNotInDivision();

        foreach (Team team in division.teams)
        {
            await GetTeamClubs(team);
        }
    }

    private async Task GenerateMatches()
    {
        HttpClient client = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");
        client.BaseAddress = new Uri("https://localhost:44341/");

        matches = await client.GetFromJsonAsync<List<Match>>($"api/Admin/genMatches?leagueID={leagueID}&divisionID={divisionID}");

        await PostMatches();
        StateHasChanged();
    }

    private async Task PostMatches()
    {
        await Http.PostAsJsonAsync<List<Match>>("api/Match/postMatchList", matches);
    }

    public async Task GetTeamsNotInDivision()
    {
        List<Team> tempList = new List<Team>();

        HttpClient client = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");
        client.BaseAddress = new Uri("https://localhost:44341/");

        tempList = await client.GetFromJsonAsync<List<Team>>($"api/TeamInformation?divisionID={0}");

        foreach (Team team in tempList)
        {
            if (team.leagueID == leagueID)
            {
                teamsNotInDivision.Add(team);
            }
        }
    }

    public async Task GetTeamClubs(Team team)
    {
        HttpClient client = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");
        client.BaseAddress = new Uri("https://localhost:44341/");

        team.club = await client.GetFromJsonAsync<Club>($"api/Klub/klub?clubID={team.clubID}");
    }

    public async Task MatchPost()
    {
        match.teams = new List<Team>();
        match.teams.Add(AddMatchTeam(team1Name));
        match.teams.Add(AddMatchTeam(team2Name));

        match.divisionID = divisionID;
        match.leagueID = division.leagueID;
        match.team1Score = 0;
        match.team2Score = 0;
        match.playedFlag = false;
        match.serverIP = "DetteErServer";

        //await Http.PostAsJsonAsync<Match>("api/Match", match);

        if (match.teams[0].teamName != match.teams[1].teamName)
        {
            await Http.PostAsJsonAsync<Match>("api/Match", match);
        }
    }

    async Task TeamToAdd(ChangeEventArgs eventArgs)
    {
        foreach (Team team in teamsNotInDivision)
        {
            if (team.teamName == eventArgs.Value.ToString())
            {
                teamToAdd = team;
            }
        }

        teamToAdd.divisionID = divisionID;
        await AddTeam();

        await InvokeAsync(OnInitializedAsync);
        StateHasChanged();
    }

    async Task AddTeam()
    {
        HttpClient client = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");
        client.BaseAddress = new Uri("https://localhost:44341/");

        await client.PutAsJsonAsync<Team>("api/TeamInformation", teamToAdd);
    }

    public void ShowTeam(Team team)
    {
        NavigationManager.NavigateTo($"/hold/{team.teamID}");
    }

    Team AddMatchTeam(string s)
    {
        foreach (Team team in division.teams)
        {
            if (team.teamName == s)
            {
                return team;
            }
        }
        return new Team();
    }
}