@using P3TournamentPlanner.Shared;
@using P3TournamentPlanner.Client.Pages.AdminPage.AdminPartials;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize(Roles = "Administrator")]
@page "/admin"
<h1>Administrator</h1>

<section class="klub-section">
    <div class="header-div">
        <h2>Klub administratorer</h2>
        <div class="btn-div">
            <button class="btn-primary btn-klubadmin" @onclick='() => ShowNewAdmin("blcok")'>Opret ny administrator</button>
        </div>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Navn</th>
                    <th>Email</th>
                    <th>Telefon</th>
                    <th>Discord</th>
                </tr>
            </thead>
            <tbody>
                @for(int i = 0; i < 3; i++) {
                    <tr>
                        <td>Lasse</td>
                        <td>lasse@dgi.dk</td>
                        <td>12345678</td>
                        <td>lasse#1234</td>
                    </tr>
                }
            </tbody>
            @*<tbody>
                    @foreach (ClubManager clubManager in clubManagers)
                    {
                        <tr>
                            <td>@clubManager.contactinfo.name</td>
                            <td>@clubManager.contactinfo.email</td>
                            <td>@clubManager.contactinfo.tlfNr</td>
                            <td>@clubManager.contactinfo.discordID</td>
                            <td class="btn-td">
                                <div class="td-div">
                                    <button class="btn" @onclick="() => ShowMananger(clubManager)">Rediger</button>
                                </div>
                            </td>
                            <td class="btn-td">
                                <div class="td-div">
                                    <button class="btn" @onclick="() => Delete(clubManager)">Slet</button>
                                </div>
                            </td>
                        </tr>

                        @if (userID == clubManager.userID)
                        {
                            <tr class="edittr" id="@clubManager.userID">
                                <td class="edit">
                                    <label>Navn:</label>
                                    <input @bind="clubManager.contactinfo.name" />
                                </td>
                                <td class="edit">
                                    <label>Email:</label>
                                    <input @bind="clubManager.contactinfo.email" />
                                </td>
                                <td class="edit">
                                    <label>Telefon:</label>
                                    <input @bind="clubManager.contactinfo.tlfNr" />
                                </td>
                                <td class="edit">
                                    <label>Discord:</label>
                                    <input @bind="clubManager.contactinfo.discordID" />
                                </td>
                                <td class="btn-td">
                                    <div class="td-div">
                                        <button class="btn" @onclick="() => HandleManagerPut(clubManager)">Gem</button>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                        }
                    }
                </tbody>*@
        </table>
    </div>
    <div style="display: @newAdminDisplay">
        <div class="header-div">
            <h3>Ny klub administrator</h3>
        </div>
        <form>
            <div class="manager-form">
                <div>
                    <label>Navn:</label>
                    <input type="text" />
                </div>
                <div>
                    <label>Email:</label>
                    <input type="text" />
                </div>
                <div>
                    <label>Telefon:</label>
                    <input type="text" />
                </div>
                <div>
                    <label>Discord:</label>
                    <input type="text" />
                </div>
                <div>
                    <label>Username:</label>
                    <input type="text" />
                </div>
                <div class="btn-div">
                    <button class="btn-primary" type="button" @onclick='() => ShowNewAdmin("none")'>Opret</button>
                </div>
            </div>
        </form>
    </div>
</section>

<hr />

<section class="table_container">
    <section class="table_container_background">
        <div class="table_menu">
            <button id="stilling-btn" @onclick='() => ChangeDisplay("ligaer")'>Ligaer</button>
            <button id="kampe-btn" @onclick='() => ChangeDisplay("klubber")'>Klubber</button>
        </div>
        @if(Display == "ligaer") {
            <style>
                #stilling-btn {
                    background-color: var(--penta-lilla)
                }
            </style>
            <AdminLigaer />
        } else if(Display == "klubber") {
            <style>
                #kampe-btn {
                    background-color: var(--penta-lilla)
                }
            </style>
            <AdminKlubber />
        }
    </section>
</section>

@code {
    string Display = "ligaer";

    string newAdminDisplay = "none";

    void ShowNewAdmin(string display) {
        newAdminDisplay = display;
        StateHasChanged();
    }

    public void ChangeDisplay(string display) {
        Display = display;
        StateHasChanged();
    }
}