@using P3TournamentPlanner.Shared;
@using System;
@using System.Collections.Generic;
@using Microsoft.AspNetCore.Authorization;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager NavigationManager
@inherits LayoutComponentBase
@page "/csgo/stilling/{id:int}"

<h3>Ligaer</h3>
<section class="main">
    <div id="container_1">
        <h1 id="Headline"> Nordjyst Liga CS:GO </h1>
        <p id="text_1">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
    </div>
</section>
<section class="table_container">
    <div class="table_menu">
        <button>Stilling</button>
        <button>Kampe</button>
        <button>Resultater</button>
        <select id="divisioner" class="input-select" @onchange="ChangeDivision">
            <option value="1">Division1</option>
            <option value="2">Division2</option>
            <option value="3">Division3</option>
            <option value="4">Division4</option>
        </select>

        <table class="Stilling" style="width:100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Hold</th>
                    <th>K</th>
                    <th>V</th>
                    <th>U</th>
                    <th>T</th>
                    <th>Diff</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                @if (teams == null)
                {
                    <p>Loading</p>
                }
                else
                {
                    @foreach (Team team in teams)
                    {
                        <tr>
                            <td>@team.placement</td>
                            <td>@team.name</td>
                            <td>@team.matchesPlayed</td>
                            <td>@team.matchesWon</td>
                            <td>@team.matchesDraw</td>
                            <td>@team.matchesLost</td>
                            <td>-----</td>
                            <td>@team.points</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</section>

@code {
    [Parameter]
    public int ID { get; set; }

    List<Team> teams = new List<Team>();
    string testLeague = "testLeague";

    protected override async Task OnInitializedAsync()
    {
        HttpClient Client = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");

        Client.BaseAddress = new Uri("https://localhost:44341/");

        Console.WriteLine("Get Send");
        teams = await Client.GetFromJsonAsync<List<Team>>("Stilling?league=" + testLeague + "&division=" + ID);
        Console.WriteLine("På den anden side");
        Console.WriteLine(teams);
    }

    public void ChangeDivision(ChangeEventArgs e)
    {
        ID = Convert.ToInt32(e.Value);
        NavigationManager.NavigateTo($"/csgo/stilling/{ID}", true);
    }
}