@using P3TournamentPlanner.Shared;
@using System;
@using System.Collections.Generic;
@using Microsoft.AspNetCore.Authorization;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager NavigationManager
@inherits LayoutComponentBase
@page "/csgo/resultater/{id:int}"

<h3>Ligaer</h3>
<section class="main">
    <div id="container_1">
        <h1 id="Headline"> Nordjyst Liga CS:GO </h1>
        <p id="text_1">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
    </div>
</section>
<section class="table_container">
    <div class="table_menu">
        <button>Stilling</button>
        <button id="chosen">Kampe</button>
        <button>Resultater</button>
        <select id="divisioner" class="input-select" @onchange="ChangeDivision">
            @for (int i = 1; i < 4; i++)
            {
                @if (i == ID)
                {
                    <option selected value="@i">Division @i</option>
                }
                else
                {
                    <option value="@i">Division @i</option>
                }
            }
        </select>
    </div>

        <div id="matchSection" style="width: 100%">
            <!--@if (Matches == null)
    {
        <p> Loading </p>
    }
    else
    {
        @foreach (Match match in Matches)
        {
            <div id="topPart">
                <h1> @match.teams[0]</h1>
                <h1> VS </h1>
                <h1> @match.teams[1] </h1>
            </div>
            <div id="lowPart">
                <h3> @match.startTime</h3>
                <h3> @match.matchHost.adress</h3>
            </div>
        }
    }-->
            @for (int i = 1; i < 6; i++)
            {
                <div id="topPart">
                    <h1>Team @i</h1>
                    <h1> VS </h1>
                    <h1>Team @i+1 </h1>
                </div>
                <div id="lowPart">
                    <div id="box">
                        <h2>02-11-2021</h2>
                    </div>
                    <div id="box">
                        <h2> Hobro Viking, helenavej 4 9210 SØ</h2>
                    </div>
                </div>
            }
        </div>
</section>

@code {
    [Parameter]
    public int ID { get; set; }

    List<Team> teams = new List<Team>();
    string testLeague = "testLeague";

    protected override async Task OnInitializedAsync()
    {
        HttpClient Client = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");

        Client.BaseAddress = new Uri("https://localhost:44341/");

        Console.WriteLine("Get Send");
        teams = await Client.GetFromJsonAsync<List<Team>>("Stilling?league=" + testLeague + "&division=" + ID);
        Console.WriteLine("På den anden side");
        Console.WriteLine(teams);
    }

    public void ChangeDivision(ChangeEventArgs e)
    {
        ID = Convert.ToInt32(e.Value);
        NavigationManager.NavigateTo($"/csgo/stilling/{ID}", true);
    }
}