@using P3TournamentPlanner.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inherits NyLigaBase
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject NavigationManager NavigationManager
<h1>Ligaer</h1>

<div class="btn-div">
    <button class="btn-primary btn-klubadmin" @onclick='() => ShowNewLiga("blcok")'>Opret ny liga</button>
</div>
<div id="matchSection" style="width: 100%">
    <table class="boxes">
        <thead>
            <tr>
                <th>  Liga Navn  </th>
                <th>  Spil  </th>
                <th>  Antal Hold  </th>
                <th>  Status  </th>
            </tr>
        </thead>
        <tbody>
            @foreach (League liga in ligas) {

                <tr @onclick="() => ShowLiga(liga.leageID)">
                    <td>  @liga.name  </td>
                    <td>  @liga.game.name  </td>
                    <td> @liga.teamAmount</td>
                    <td>  @liga.archiveFlag  </td>
                </tr>
            }
        </tbody>
    </table>

    <div style="display: @newLigaDisplay">
        <div class="header-div">
            <h3>Ny Liga</h3>
        </div>
        <EditForm Model="liga">
            <div class="liga-form">
                <div>
                    <label>Liga Navn:</label>
                    <input @bind="liga.name" />
                </div>
                <div>
                    <label>Spil:</label>
                    <select @bind="liga.game.name">
                        <option value="">Vælg spil</option>
                        <option value="CS:GO">CS:GO</option>

                    </select>
                </div>
                <div>
                    <label>Antal Hold:</label>
                    <input @bind="liga.teamAmount" />
                </div>
                <div>
                    <label>Admin:</label>
                    <select @onchange="SetAdmin">
                        <option value="">Vælg admin</option>
                        @foreach (SiteAdmin admin in admins) {
                            <option value="@admin.contactinfo.userID "> @admin.contactinfo.name </option>
                        }

                    </select>
                </div>
                <div class="btn-div">
                    <button class="btn-primary" type="button" @onclick='() => ShowNewLiga("none")'>Cancel</button>
                </div>
                <div class="btn-div">
                    <button class="btn-primary" type="button" @onclick='PostLiga'>Opret</button>
                </div>
            </div>
        </EditForm>
    </div>
</div>


@code { 

    //Auth Var
    bool isAuth = false;
    string roleRequirement = "Administrator";

    protected override async Task OnInitializedAsync() {

        try {
            isAuth = await Http.GetFromJsonAsync<bool>($"api/authentication?role={roleRequirement}");
        }
        catch(AccessTokenNotAvailableException exception) {
            //idfk... Redirect eller sådan noget xd
            Console.WriteLine("Exeption Hit!");
        }


        if(isAuth) {
            Console.WriteLine("lesgo!");
        } else {
            Console.WriteLine("Sadge");
        }
    }

    protected override async Task OnParametersSetAsync() {
        HttpClient client = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");
        client.BaseAddress = new Uri("https://localhost:44341/");

        Console.WriteLine("Get Send");
        ligas = await client.GetFromJsonAsync<List<League>>("api/Ligaer");
        Console.WriteLine("På den anden side");

        await GetAdmin();
    }

    public void ShowLiga(int leagueID)
    {
        NavigationManager.NavigateTo($"/admin/ligaer/{leagueID}");
    }

    async Task PostLiga() {
        

        HttpClient client = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");
        client.BaseAddress = new Uri("https://localhost:44341/");

        Console.WriteLine("Post Send");
        await Http.PostAsJsonAsync<League>("api/Ligaer", liga);
        Console.WriteLine("På den anden side");

        ShowNewLiga("none");
        await GetLiga();

        StateHasChanged();
    }

    async Task GetLiga() {
        HttpClient client = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");
        client.BaseAddress = new Uri("https://localhost:44341/");

        Console.WriteLine("Get Send");
        ligas = await client.GetFromJsonAsync<List<League>>("api/Ligaer");
        Console.WriteLine("På den anden side");
        StateHasChanged();
    }

    async Task GetAdmin() {
        HttpClient client = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");
        client.BaseAddress = new Uri("https://localhost:44341/");

        Console.WriteLine("Get Send");
        users = await client.GetFromJsonAsync<List<User>>("api/Admin/users");
        Console.WriteLine("På den anden side");



        foreach (User user in users) if (user.roles.Contains("Administrator")) {
                contactinfo = new Contactinfo(user.ID);
                await GetContactInfo(contactinfo.userID);
                admins.Add(new SiteAdmin(contactinfo));
            }

        StateHasChanged();
    }

    async Task GetContactInfo(string UserID) {
        HttpClient client = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");
        client.BaseAddress = new Uri("https://localhost:44341/");

        Console.WriteLine("Get Send");
        contactinfo = await client.GetFromJsonAsync<Contactinfo>("api/User");
        Console.WriteLine("På den anden side");
    }

    public void SetAdmin(ChangeEventArgs e) {
        liga.admin.contactinfo.userID = e.Value.ToString();
    }


    string Display = "ligaer";

    string newLigaDisplay = "none";

    void ShowNewLiga(string display) {
        newLigaDisplay = display;
        StateHasChanged();
    }

    public void ChangeDisplay(string display) {
        Display = display;
        StateHasChanged();
    }
}