@using P3TournamentPlanner.Shared;
@using System;
@using System.Collections.Generic;
@using System.Net;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Linq;
@using System.Net.Http;
@using System.Net.Http.Json;
@using System.Threading.Tasks;
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
@inject IJSRuntime JsRuntime
@page "/hold/{teamID:int}"

@if (team == null)
{
    <p>Loading ...</p>
}
else
{
    <section class="header-section">
        <div class="team-info-div">
            <h1>@team.teamName</h1>

            <p>Klub: @team.club.name</p>
            <p>Kontaktperson: @team.manager.contactinfo.name - @team.manager.contactinfo.tlfNr</p>
            <p>Klublokale: Amerikavej 22, 9500 Hobro</p>
        </div>
        <div class="team-info-div">
            <img src="data:image/png;base64, @team.club.base64Logo">
        </div>
    </section>


    @if (IsManager)
    {
        <h3>Ændre hold</h3>
        <div>
            <EditForm Model="team" OnValidSubmit="PutTeam">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="hold-form">
                    <div class="name-input-div">
                        <label>Hold navn:</label>
                        <input type="text" @bind-value="team.teamName" />
                    </div>
                    <div>
                        @if (team.leagueID == 0)
                        {
                            <select @bind="team.leagueID">
                                <option value=0>Tilføj til liga</option>
                                @foreach (League league in leagues)
                                {
                                    <option value=@league.leageID>@league.name</option>
                                }
                            </select>
                        }
                        <button class="btn-primary" type="submit">Gem Hold</button>
                        <button class="btn-primary" @onclick="DeleteTeam">Slet hold</button>
                    </div>
                </div>
            </EditForm>
        </div>
    }

    <section class="table_container">
        <div class="table_menu">
            <button id="info-btn" @onclick="ShowInfo">Info</button>
            <button id="kampe-btn" @onclick="ShowKampe">Kampe</button>
            <button id="resultater-btn" @onclick="ShowResultater">Resultater</button>
        </div>
    </section>
    @if (display == "kampe")
    {
        <style>
            #kampe-btn {
                background-color: var(--penta-lilla)
            }
        </style>
        <MatchList ID="team.teamID" search="team" />
    }
    else if (display == "resultater")
    {
        <style>
            #resultater-btn {
                background-color: var(--penta-lilla)
            }
        </style>
        <ResultList ID="team.teamID" search="team" />
    }
    else if (display == "info")
    {
        <style>
            #info-btn {
                background-color: var(--penta-lilla)
            }
        </style>
        <section class="manager-section">
            <div class="header-div">
                <div class="header">
                    <h3>Trænere</h3>
                </div>
            </div>
            <hr id="line" />
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Navn</th>
                            <th>Email</th>
                            <th>Telefon</th>
                            <th>Discord</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@team.manager.contactinfo.name</td>
                            <td>@team.manager.contactinfo.email</td>
                            <td>@team.manager.contactinfo.tlfNr</td>
                            <td>@team.manager.contactinfo.discordID</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section class="player-section">
            <div class="header-div">
                <div class="header">
                    <h3>Spillere</h3>
                </div>
                @if (IsManager)
                {
                    <button class="btn-primary" @onclick="ShowNewPlayer">Opret ny spiller</button>
                }
            </div>
            <hr id="line" />
            <div class="table-container">
                <EditForm Model="p" OnValidSubmit="HandlePlayerPut">
                    <table>
                        <thead>
                            <tr>
                                <th>Navn</th>
                                <th>In-game navn</th>
                                <th>STEAM_ID</th>
                                <th>Rank</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Player player in team.players)
                            {
                                <tr>
                                    <td>@player.IRLName</td>
                                    <td>@player.IGName</td>
                                    <td>@player.steamID</td>
                                    <td>@player.CSGORank</td>
                                    @if (IsManager)
                                    {
                                        <td class="btn-td">
                                            <div class="td-div">
                                                <button class="btn" type="button" @onclick="() => ShowPlayer(player)">Rediger</button>
                                            </div>
                                        </td>
                                        <td class="btn-td">
                                            <div class="td-div">
                                                <button class="btn" @onclick="() => DeletePlayer(player)">Slet</button>
                                            </div>
                                        </td>
                                    }
                                </tr>

                                @if (p.IGName == player.IGName)
                                {
                                    <DataAnnotationsValidator />
                                    <ValidationSummary />
                                    <tr class="edittr">
                                        <td class="edit">
                                            <label>Navn:</label>
                                            <input @bind-value="player.IRLName" />
                                        </td>
                                        <td class="edit">
                                            <label>In-Game navn:</label>
                                            <input @bind-value="player.IGName" />
                                        </td>
                                        <td class="edit">
                                            <label>STEAM-ID:</label>
                                            <input @bind-value="player.steamID" />
                                        </td>
                                        <td class="edit">
                                            <label>Rank:</label>
                                            <InputSelect @bind-Value="player.CSGORank">
                                                <option value="">Vælg rank</option>
                                                <option value="Silver 1">Silver 1</option>
                                                <option value="Silver 2">Silver 2</option>
                                                <option value="Silver 3">Silver 3</option>
                                                <option value="Silver 4">Silver 4</option>
                                                <option value="Silver Elite">Silver Elite</option>
                                                <option value="Silver Elite Master">Silver Elite Master</option>
                                                <option value="Gold Nova 1">Gold Nova 1</option>
                                                <option value="Gold Nova 2">Gold Nova 2</option>
                                                <option value="Gold Nova 3">Gold Nova 3</option>
                                                <option value="Gold Nova Master">Gold Nova Master</option>
                                                <option value="Master Guardian 1">Master Guardian 1</option>
                                                <option value="Master Guardian 2">Master Guardian 2</option>
                                                <option value="Master Guardian Elite">Master Guardian Elite</option>
                                                <option value="Distingquished Master Guardian">Distingquished Master Guardian</option>
                                                <option value="Legendary Eagle">Legendary Eagle</option>
                                                <option value="Legendary Eagle Master">Legendary Eagle Master</option>
                                                <option value="Supreme Master First Class">Supreme Master First Class</option>
                                                <option value="The Global Elite">The Global Elite</option>
                                            </InputSelect>
                                        </td>
                                        <td class="btn-td">
                                            <div class="td-div">
                                                <button type="submit" class="btn">Gem</button>
                                            </div>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </EditForm>
            </div>
            <NySpiller clubID="team.club.clubID" teamID="teamID" display="@playerDisplay" />
        </section>
    }
    <div id="@messageStyle" style="display: @messageDisplay">
        @message
        <a @onclick="reloadPage" class="reload">Reload</a>
        <a class="dismiss" @onclick='() => showMessage("none", "")'>🗙</a>
    </div>
}

@code {
    [Parameter]
    public int teamID { get; set; }

    public Player p = new Player();

    private List<League> leagues = new List<League>();

    public bool IsManager { get; set; }

    public string kontaktperson;

    string IGName;

    string display = "info";

    string playerDisplay = "none";

    string messageDisplay = "none";
    string messageStyle;

    string message { get; set; }

    private static System.Timers.Timer aTimer;

    Team team = new Team(new ClubManager(new Contactinfo()), new Club(), new List<Player>());

    public void ShowInfo()
    {
        display = "info";
        StateHasChanged();
    }

    public void ShowKampe()
    {
        display = "kampe";
        StateHasChanged();
    }

    public void ShowResultater()
    {
        display = "resultater";
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        if (teamID != null)
        {
            await GetTeam();

            await GetClub();

            await GetPlayers();

            try
            {
                IsManager = await Http.GetFromJsonAsync<bool>($"api/Authentication/isManager?ID1={team.clubID.ToString()}&ID2=0");
            }
            catch (AccessTokenNotAvailableException exception)
            {
                Console.WriteLine(exception.Message);
                IsManager = false;
            }

            if (IsManager == true)
            {
                await GetLeagues();
            }
        }
    }

    async Task GetTeam()
    {
        HttpClient client = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");
        client.BaseAddress = new Uri("https://localhost:44341/");

        Console.WriteLine("Get Send");
        team = await client.GetFromJsonAsync<Team>("api/TeamInformation/team?teamID=" + teamID);
        Console.WriteLine("På den anden side");
        Console.WriteLine(team);
    }

    async Task GetClub()
    {
        HttpClient client = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");
        client.BaseAddress = new Uri("https://localhost:44341/");

        Console.WriteLine("Get Send");
        team.club = await client.GetFromJsonAsync<Club>("api/Klub/klub?clubID=" + team.clubID);
        Console.WriteLine("På den anden side");
        Console.WriteLine(team.club);
    }

    async Task GetPlayers()
    {
        HttpClient client = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");
        client.BaseAddress = new Uri("https://localhost:44341/");

        Console.WriteLine("Get Send");
        team.players = await client.GetFromJsonAsync<List<Player>>("api/Player?teamID=" + teamID);
        Console.WriteLine("På den anden side");
        Console.WriteLine(team.players);
        StateHasChanged();
    }

    async Task GetLeagues()
    {
        HttpClient client = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");
        client.BaseAddress = new Uri("https://localhost:44341/");

        leagues = await client.GetFromJsonAsync<List<League>>("api/Ligaer");
    }

    async Task HandlePlayerPut()
    {
        p.teamID = teamID;
        p.clubID = team.clubID;

        HttpClient client = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");
        client.BaseAddress = new Uri("https://localhost:44341/");

        await client.PutAsJsonAsync<Player>("api/Player", p);

        ShowPlayer(p);
    }

    async void DeleteTeam()
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Er du sikker?");

        if (confirmed == true)
        {
            HttpClient client = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");
            client.BaseAddress = new Uri("https://localhost:44341/");

            await client.DeleteAsync("api/TeamInformation/Delete/" + teamID);

            NavigationManager.NavigateTo($"/dinklub/{team.club.clubID}", forceLoad: true);
        }
    }

    async void PutTeam()
    {
        team.teamID = teamID;

        HttpClient client = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");
        client.BaseAddress = new Uri("https://localhost:44341/");

        var result = await client.PutAsJsonAsync<Team>("api/TeamInformation", team);

        if (result.StatusCode == HttpStatusCode.BadRequest)
        {
            message = result.Content.ReadAsStringAsync().Result;
            showMessage("block", "blazor-fejl-ui");
        }
        else
            NavigationManager.NavigateTo($"/hold/{teamID}", forceLoad: true);
    }

    async void DeletePlayer(Player player)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Er du sikker?");

        if (confirmed == true)
        {
            HttpClient client = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");
            client.BaseAddress = new Uri("https://localhost:44341/");

            await client.DeleteAsync("api/Player/Delete/" + player.playerID);
            NavigationManager.NavigateTo($"/hold/{teamID}", forceLoad: true);
        }
    }

    void ShowPlayer(Player player)
    {
        if (player.IGName == IGName)
        {
            IGName = "";
            p = new Player();
            InvokeAsync(GetPlayers);
        }
        else
        {
            p = player;
            IGName = player.IGName;
        }
    }

    void ShowNewPlayer()
    {
        if (playerDisplay == "none")
        {
            playerDisplay = "block";
        }
        else
        {
            playerDisplay = "none";
        }
    }

    void reloadPage()
    {
        NavigationManager.NavigateTo($"/hold/{teamID}", forceLoad: true);
    }

    void showMessage(string message, string style)
    {
        messageDisplay = message;
        messageStyle = style;
        Console.WriteLine(messageDisplay);
        StateHasChanged();

        aTimer = new System.Timers.Timer(6000);
        aTimer.Enabled = true;
        aTimer.Elapsed += CountDownTimer;
    }

    public void CountDownTimer(Object source, System.Timers.ElapsedEventArgs e)
    {
        messageDisplay = "none";
        aTimer.Enabled = false;
        StateHasChanged();
    }
}
