@using P3TournamentPlanner.Shared;
@using System;
@using System.Collections.Generic;
@using Microsoft.AspNetCore.Authorization;
@inject HttpClient Http
@inject IHttpClientFactory ClientFactory
<table class="Stilling">
    <thead>
        <tr>
            <th class="placement">#</th>
            <th class="team">Hold</th>
            <th class="number">K</th>
            <th class="number">V</th>
            <th class="number">U</th>
            <th class="number">T</th>
            <th class="number">Diff</th>
            <th class="points">Points</th>
        </tr>
    </thead>
    <tbody>
        <!--
        @if (teams == null)
        {
            <p>Loading</p>
        }
        else
        {
            @foreach (Team team in teams)
            {
                <tr>
                    <td>@team.placement</td>
                    <td>@team.name</td>
                    <td>@team.matchesPlayed</td>
                    <td>@team.matchesWon</td>
                    <td>@team.matchesDraw</td>
                    <td>@team.matchesLost</td>
                    <td>-----</td>
                    <td>@team.points</td>
                </tr>
            }
        }
        -->

        @for (int i = 1; i < 5; i++)
        {
            <tr>
                <td class="placement">@ID</td>
                <td class="team">Hobro Vikings - hold @ID</td>
                <td class="number">@ID</td>
                <td class="number">@ID</td>
                <td class="number">@ID</td>
                <td class="number">@ID</td>
                <td class="number">-----</td>
                <td class="points">@ID</td>
            </tr>
        }
    </tbody>
</table>
@code {
    [Parameter]
    public int ID { get; set; }

    List<Team> teams = new List<Team>();
    string testLeague = "testLeague";

    protected override void OnInitialized()
    {
        Console.WriteLine(ID);
    }

    /*
    protected override async Task OnInitializedAsync()
    {
        HttpClient Client = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");

        Client.BaseAddress = new Uri("https://localhost:44341/");

        Console.WriteLine("Get Send");
        teams = await Client.GetFromJsonAsync<List<Team>>("Stilling?league=" + testLeague + "&division=" + ID);
        Console.WriteLine("På den anden side");
        Console.WriteLine(teams);
    }*/
}
